<html>
<head><title>Score Report - {{cname}} - TheCALT</title>
<link rel = "icon" href = "{{ url_for('static', filename='images/logo.png') }}" type = "image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--<link rel="stylesheet" href="/static/css/print.css" media="print">-->
</head>
<body id="page-top">
<div id="wrapper">
{% if session["Username"]: %}
{% include 'nav.html' %}
{% else %}
{% include 'notnav.html' %}
{% endif %}
<div class="container-fluid">

                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <button onclick="window.print();" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Download </button>
                    </div>


<div class="printreport" id="printreport">
<div class="card col-xl-12" style="padding:20px; margin:10px; width:100%;">
  <center><h1 class="text-primary"><img src="/static/images/logo.png" width="60" height="60"><b>TheCALT Online</b></h1><h2 class="text-secondary">{{cname}}</h2></center>


                            <!--<button class="nav-link ignoreme" onclick="SoloAlert.alert({title:'Title Here',body:'My Background is a bit transparent.',useTransparency: true,})" style="text-align:right; background-color:rgb(255,255,255,0); border-color:rgb(255,255,255,0);">
                                <i class="fas fa-info-circle fa-fw"></i>
                            </button>-->

                    <div class="row">
                        <div class="col-xl-5 col-xs-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Name</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{fname}} {{lname}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-xs-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Username</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{username}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-xs-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Grade</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{grade}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xl-3 col-xs-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Score
                                                
                                                  <i class="fas fa-info-circle fa-fw" onclick="SoloAlert.alert({title:'Score',body:'Your score portrays the total raw problems you have solved as a measure of the point system.',useTransparency: true,})" style="align:right; cursor:pointer;" id="ignoreme"></i>
                                                
                                                </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{score}}/{{maxi}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-xs-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Percentage</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{percentage}}%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-xs-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Percentile
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{percentile}}%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-xs-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Rank</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">#{{rank}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xl-6 col-xs-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Distribution</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                              {% for i in distrib:%}{% if i == "✅": %}<i class="fas fa-check-circle"></i>{% endif %}{% if i == "❌": %}<i class="fas fa-times-circle"></i>{% endif %}{% endfor %}
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-xs-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Category</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">N/A</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>





<!--
<div class="row">
<div class="col-xl-12 col-xs-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Problem Difficulty</div>        
<div class="chart-area"> 
<canvas id="myAreaChart"></canvas>
</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
</div>
</div>
-->

<div class="row">
<div class="col-xl-12 col-xs-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Rating</div>

<div class="row">
<div class="col-xl-6 col-xs-6 mb-4">
<b>Your Overall Rating:</b> {{fnt + fcombo + fgeo + falg + flogic}}
</div>
<div class="col-xl-6 col-xs-6 mb-4">
<b>Average Overall Rating:</b> {{avgnt + avgcombo + avggeo + avgalg + avglogic}}
</div>
</div>

<div class="chart-area"> 
<canvas id="myRadarChart"></canvas>
</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
</div>
</div>




</div>
</div>

<br><br>
<button onclick="showMore();" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">View Your Responses</button>
<br>
<br>
<br>
<br>
<br>
<br>
<script>
function showMore() {
SoloAlert.alert({
title:'Your Responses',
html:`
{% for i in range(0,resp|length): %}
{{i+1}}. {{resp[i]}} <br>
{% endfor %}


`,
useTransparency: true,})
};
</script>


<style>
@media print {
  body * {
    visibility:hidden;
  }
  #printreport, #printreport * {
    visibility:visible;
  }
  #printreport {
    position:absolute;
    left:0;
    top:0;
  }

  #ignoreme {
    visibility:hidden;
  }

.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  float: left;
}
.col-xl-12 {
  width: 100%;
}
.col-xl-11 {
  width: 91.66666666666666%;
}
.col-xl-10 {
  width: 83.33333333333334%;
}
.col-xl-9 {
  width: 75%;
}
.col-xl-8 {
  width: 66.66666666666666%;
}
.col-xl-7 {
  width: 58.333333333333336%;
}
.col-xl-6 {
  width: 50%;
}
.col-xl-5 {
  width: 41.66666666666667%;
}
.col-xl-4 {
  width: 33.33333333333333%;
 }
 .col-xl-3 {
   width: 25%;
}
</style>
<script>
// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

function number_format(number, decimals, dec_point, thousands_sep) {
  // *     example: number_format(1234.56, 2, ',', ' ');
  // *     return: '1 234,56'
  number = (number + '').replace(',', '').replace(' ', '');
  var n = !isFinite(+number) ? 0 : +number,
    prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
    sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
    dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
    s = '',
    toFixedFix = function(n, prec) {
      var k = Math.pow(10, prec);
      return '' + Math.round(n * k) / k;
    };
  // Fix for IE parseFloat(0.55).toFixed(0) = 0;
  s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
  if (s[0].length > 3) {
    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
  }
  if ((s[1] || '').length < prec) {
    s[1] = s[1] || '';
    s[1] += new Array(prec - s[1].length + 1).join('0');
  }
  return s.join(dec);
}

// Area Chart Example
var ctx = document.getElementById("myAreaChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: ["P1", "P2", "P3", "P4", "P5", "P6", "P7", "P8", "P9", "P10"],
    datasets: [{
      label: "Solves",
      lineTension: 0.3,
      backgroundColor: "rgb(12,150,245,0.1)",
      borderColor: "#0c96f5",
      pointRadius: 3,
      pointBackgroundColor: "#0c96f5",
      pointBorderColor: "#0c96f5",
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "#0c96f5",
      pointHoverBorderColor: "#0c96f5",
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: [0, 10000, 5000, 15000, 10000, 20000, 15000, 25000, 20000, 30000],
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 100
        }
      }],
      yAxes: [{
        ticks: {
          maxTicksLimit: 10,
          padding: 10,
          // Include a dollar sign in the ticks
          callback: function(value, index, values) {
            return number_format(value);
          }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + ': ' + number_format(tooltipItem.yLabel) + ' /{{m}}';
        }
      }
    }
  }
});

</script>
<script>

// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

// Area Chart Example
var ctx = document.getElementById("myRadarChart");
var myLineChart = new Chart(ctx, {
  type: 'radar',
  data: {
    labels: [ {%if ntm != 0:%} "Number Theory", {%endif%} {%if combom != 0:%} "Combinatorics", {%endif%} {%if geom != 0:%} "Geometry", {%endif%} {%if algm != 0:%} "Arithmetic/Algebra", {%endif%} {%if logicm != 0:%} "Logic" {%endif%} ],
    datasets: [{
      label: "Your Rating",
      lineTension: 0.05,
      backgroundColor: "rgb(12,150,245,0.2)",
      borderColor: "#0c96f5",
      pointRadius: 3,
      pointBackgroundColor: "#0c96f5",
      pointBorderColor: "#0c96f5",
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "#0c96f5",
      pointHoverBorderColor: "#0c96f5",
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: [ {%if ntm != 0:%} {{fnt}}, {%endif%} {%if combom != 0:%} {{fcombo}}, {%endif%} {%if geom != 0:%} {{fgeo}}, {%endif%} {%if algm != 0:%} {{falg}}, {%endif%} {%if logicm != 0:%} {{flogic}} {%endif%} ],
    },
    {
      label: "Average Rating",
      lineTension: 0.05,
      backgroundColor: "rgb(195,244,196,0.1)",
      borderColor: "#c3f4c4",
      pointRadius: 3,
      pointBackgroundColor: "#c3f4c4",
      pointBorderColor: "#c3f4c4",
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "#c3f4c4",
      pointHoverBorderColor: "#c3f4c4",
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: [ {%if ntm != 0:%} {{avgnt}}, {%endif%} {%if combom != 0:%} {{avgcombo}}, {%endif%} {%if geom != 0:%} {{avggeo}}, {%endif%} {%if algm != 0:%} {{avgalg}}, {%endif%} {%if logicm != 0:%} {{avglogic}} {%endif%} ],
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scale: {
      ticks: {
        beginAtZero: true,
        suggestedMax: 100,
        suggestedMin: 0,
        stepSize: 10,
        max: 100,
        min: 0
      }
    },
    legend: {
      display: true
    },
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItems, chart) {
          var datasetLabel = chart.datasets[tooltipItems.datasetIndex].label || '';
          return datasetLabel + ': ' + number_format(tooltipItems.yLabel) + ' /100';
        },
        title: function(tooltipItems, chart) {
          //var datasetLabel = chart.labels[tooltipItems[tooltipItems.index].datasetIndex] || '';
          return "Performance" /*+ data.labels[tooltipItems[0].index]*/;
        }
      }
    }
  }
});

</script>
</div>
</div>
</body>
</html>