<html>
<head><title>Round 2 - Practice - TheCALT</title>
<link rel = "icon" href = "{{ url_for('static', filename='images/logo.png') }}" type = "image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--Important MathJax Stuff-->
{% block javascript %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script src="{{ url_for('static', filename='js/mathjax-config.js') }}"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{%  endblock %}
<!--Important MathJax Stuff-->
</head>
<body id="page-top">
<div id="wrapper">
{% if session["Username"]: %}
{% include 'nav.html' %}
{% else %}
{% include 'notnav.html' %}
{% endif %}
<div class="container-fluid">



      <form action="/practice/round2", method="post">
<center>
<h1><img src="/static/images/logo.png" length="75" width="75"><br>Round 2</h1>
<br><br>

    {% for i in range(problems|length) %}
    <div class="card" style="margin:10px; padding:10px;">
      <h2>{{i+1}}</h2>
    <p>{{problems[i]|safe}}</p>
    {% set qname = "Q" + i|string %}
          <div class="form-group">
            <input type="text" class="form-control form-control-user" id="{{qname}}" name = "{{qname}}" aria-describedby="qans" placeholder="Answer..." style="width:45%;">
          </div>
    </div><br>
    {% endfor %}
    <p></p>
    <input type="submit" value="Submit" class="btn btn-primary btn-user btn-block"/>
    </form><br><p></p></div><br><br>
</center>



</div>
</div>
</body>
</html>
