<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel = "icon" href = "{{ url_for('static', filename='images/logo.png') }}" type = "image/x-icon">
    <title>Connect Discord - TheCALT</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/57a95a2569.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainstyle.css') }}">

</head>

<body>



  <section id="features">
    <center><img class="av" src="static/images/logo.png" height="100" width="100"><h1 style="color: #7289da;">TheCALT Online</h1></center><br>
     <center>    
  <a href="{{url}}"><div class="card bg-primary text-white">
    <div class="card-body"><h1>Connect</h1><br><center><img class="av" src="https://maxcdn.icons8.com/Share/icon/Logos/discord_logo1600.png" height="300" width="300"></center><br></div>
  </div></a>

    </center>
  </section>





  <footer id="footer">
    <p>© 2021  TheCALT</p>

  </footer>


</body>

</html>