<html>
<head><title>Contest Over! - TheCALT</title>
<link rel = "icon" href = "{{ url_for('static', filename='images/logo.png') }}" type = "image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body id="page-top">
<div id="wrapper">
{% if session["Username"]: %}
{% include 'nav.html' %}
{% else %}
{% include 'notnav.html' %}
{% endif %}
<div class="container-fluid">
<center>
			<h1>Contest Over!</h1>
			<p>Your answers have been submitted.</p>
      <p>You may now shut this tab</p>
</center>
</div>
</div>
</body>
</html>


