html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat';

}

h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}

.card-body {
  background-color: #7289da;
  color: white;
}

.card-body:hover {
  background-color: #7f96ec;
  color: white;
}

.av{
  border: 2px solid #7289da;
  border-radius: 50%;
  padding: 6px;
}

.av:hover {
  box-shadow: 0 0 5px 3px rgba(0, 140, 186, 0.5);
}

h3 {
    font-family: 'Montserrat';
    font-weight: 700;
    color: white;
}

p {
    color: #8f8f8f;
}

.introduction {
    text-align: center;
    font-family: "Ubuntu";
}
.montserrat {
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: 900;
    padding-bottom: 20px;
    color: white;
}

.container-fluid {
    padding: 3% 15% 7%;

}

.navbar {
    padding: 0 0 3.5rem;
}

.navnav {
    scroll-behavior: smooth;
}
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    font-size: 15px;
    font-weight: 100;
}

.icon {
    color: #ffffff;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #7289DA;
}

.testimonials-img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin: 20px;
}

.testimonials-img1 {
    height: 100px;
    width: 80px;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#title {
    color: black;
    background-color: #2978b5;
}

#cusbtn {
    margin-top: 30px; 
    margin-left: 80px;
}

#cusbtn1 {
    margin-top: 20px; 
    margin-left: 10px;
}

#cta {
    background-color: #7289DA;
    text-align: center;
}

.ctah3 {
    padding: 7% 15%;
    font-family: 'Montserrat'; 
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 700;

}
.ctabtn {
    margin-left: 25px;
    margin-bottom: 50px;
}

.ctaicon{
    padding-left: 50px;
    padding-bottom: 50px;
}

#footer {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #2A2D32;
}

#features {
    padding: 7% 15%;
    background-color: #2A2D32;
    position: relative;
    z-index: 1;
}

#blog {
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
    font-family: Verdana!important;
    color: #2A2D32!important;
}


.feature-box {
    text-align: center;
    padding: 5%;
}

#testimonials {
    text-align: center;
    background-color: #7289DA;
    color: #ffffff;
}

#press {
    background-color: #7289DA;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 13%;
    margin: 20px 30px 50px;
}

#pricing {
    padding: 100px;
    text-align: center;
    background-color: #2A2D32;
}

.pricing-column {
    padding: 3% 2%;
}

.card {
  background-color: #7289DA;
}

.panel-heading{
  background-color: #7289DA
}

@media (max-width: 1000px) {
    #title {
        text-align: center;
    }
    .phone {
        transform: rotate(0);
        position: static;
    }
}